body{
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    background-color: azure;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* width: 350px;
    height: 220px; */
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0.8px 0.8px ghostwhite;
    border: none;
    /* margin: 10px; */
}
input{
    width: 300px;
    margin: 5px;
}
.btn-calculate{

    background-color: rgb(15, 200, 67);
    color: white;
    width: 310px;
    text-transform: uppercase;
    cursor: pointer;

}